@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,700');
.headd{
	background: url(header1.jpg);
	background-size:100%;
	position:relative;
}
.clearfix{
	box-sizing: border-box;
	margin: 0 auto;
	display: block;
	position: relative;
	width: 100%;
	max-width: 1100px;
}
.logo{
	float: left;
	padding-top: 3%;
	padding-left: 2%;
	width: 20%; 
	height: 20%;
}
.navbar1{
	padding-right: 2%;
	padding-top: 3%;
	float: right;
	word-spacing: 60px;
	color: #ffffff;
	text-align: right;
	font-family: 'Open Sans', sans-serif;
	font-size: 24px;
	font-weight: bold;
	text-shadow: 
		-0   -1px 0   #000000,
		 0   -1px 0   #000000,
		-0    1px 0   #000000,
		 0    1px 0   #000000,
		-1px -0   0   #000000,
		 1px -0   0   #000000,
		-1px  0   0   #000000,
		 1px  0   0   #000000,
		-1px -1px 0   #000000,
		 1px -1px 0   #000000,
		-1px  1px 0   #000000,
		 1px  1px 0   #000000,
		-1px -1px 0   #000000,
		 1px -1px 0   #000000,
		-1px  1px 0   #000000,
		 1px  1px 0   #000000;
}
.tabs{
	padding-top: 5%; 
	clear: both;
	color: #ffffff;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-weight: 500;
	text-shadow: 
		-0   -1px 0   #000000,
		 0   -1px 0   #000000,
		-0    1px 0   #000000,
		 0    1px 0   #000000,
		-1px -0   0   #000000,
		 1px -0   0   #000000,
		-1px  0   0   #000000,
		 1px  0   0   #000000,
		-1px -1px 0   #000000,
		 1px -1px 0   #000000,
		-1px  1px 0   #000000,
		 1px  1px 0   #000000,
		-1px -1px 0   #000000,
		 1px -1px 0   #000000,
		-1px  1px 0   #000000,
		 1px  1px 0   #000000;
}
input {display: none;}
label {cursor: pointer;}

.mobile {
	user-select: none;
	display: none;
}

.nav__showmenu {
	float: right;
	color: white;
    position: relative;
    z-index: 3;
    display: inline-block;
    margin-left: -10px;
    padding: 5px 10px 10px;
    top: 2px;
    font-size: 23px;
}

.nav__back {
    position: relative;
    top: 0;
    right: 0;  
    bottom: 0;
    left: 0;
    transition: background-color .3s;
}

.menu, .menu__submenu{
    list-style: none;
    padding: 0;
    color: #fff;
    overflow: hidden;
  }

.menu {
	z-index: 3;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    display: block;
    width: 220px;
    margin: 0;
    padding: 17px 0;
    text-transform: uppercase;
    line-height: 2em;
    background-color: #2c2c2c;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    transform: translateX(-100%);
    transition: transform .3s;
    will-change: transform;
    backface-visibility: hidden;
}

.menu__submenu {
    font-size: .8em;
    background-color: #ddd;
    max-height: 0;
    transition: max-height .3s ease-in-out;
}

.menu__showsub {
    position: absolute;
    right: 0;
    margin-top: -34px;
    padding: 10px;
    line-height: normal;
}

.menu__item {  
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
    display: block;
    text-align: center;
    text-decoration: none;
    color: #fff;
}

.menu__submenu .menu__item {color: #000;}

.nav__check:checked~.nav__back {
    background-color: rgba(0,0,0,.2);
    bottom: 0;
}

.menu__item:hover,.nav__showmenu:hover,.menu__showsub:hover {opacity: 0.7;}
.menu::-webkit-scrollbar {display: none;}
.nav__check:checked+.nav__showmenu {color:#fff;}
.menu__check:checked~.menu__submenu {max-height: 100vh;}
.menu__check:checked+.menu__showsub {transform: rotate(180deg);}
.nav__check:checked~.menu {transform: translateX(-15%);}
/*block-content*/
.textblock{
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-weight: lighter;
	color: #121212;
	text-align: left;
	margin-bottom: 20px;
}
.bp1{
	padding-top: 2%;
	display: block;
	margin: 0 auto;
}
.proc{
	padding-top: 2%;
	display: block;
	margin: 0 auto;
}
.kyl{
	padding-top: 2%;
	display: block;
	margin: 0 auto;
}	
.ozy{
	padding-top: 2%;
	display: block;
	margin: 0 auto;
}
.video{
	padding-top: 2%;
	display: block;
	margin: 0 auto;
	padding-bottom: 3%;
}
	
.ism-slider > ol, .ism-slider > ol > li, .ism-slider > ol > li > img { width: 100%; list-style: none; margin: 0; padding: 0; }
.ism-slider {
  overflow: hidden;
  position: relative;
  display: block;
  margin: 0 auto;
  padding: 0;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.1);
  -webkit-animation: ism-fadein 3s;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  	margin-bottom: 20px;
}
@-webkit-keyframes ism-fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}
@-webkit-keyframes ism-loading {
  50% { left: 120px; }
}

.ism-slider .ism-slides {
  list-style: none;
  position: absolute;
  height: 100%;
  top: 0;
  padding: 0 !important;
  margin-top: 0;
  margin-bottom: 0;
  z-index: 1;
}

.ism-slider li.ism-slide {
  height: 100%;
  overflow: hidden;
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  margin: 0 !important;
  padding: 0 !important;
  background-color: #d5d5d5;
  text-align: center;
}

.ism-slider .ism-img-frame {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
}

.ism-slider a.ism-image-link {
  position: absolute;
  color: inherit;
  text-decoration: none;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.ism-slider .ism-img {
  display: block;
  border: none;
  position: absolute;
  pointer-events: none;
}

.ism-button, .ism-pause-button {
  position: absolute;
  display: block;
  -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;
  border: none;
  outline: none;
  text-align:center;
  z-index: 6;
  cursor: pointer;
  padding: 0;
  background-repeat: no-repeat;
  background-position: center center;
}

.ism-pause-button {
  display: none;
  left: 50%;
}

.ism-slider:hover .ism-pause-button {
  display: block;
}

.ism-caption {
  -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;
  padding: 0 1em;
  text-shadow: none;
  line-height: 1.2em;
  padding: 0.25em 0.5em;
  width: auto;
  height: auto;
  text-align: center;
  visibility: hidden;
}

a.ism-image-link .ism-caption, a.ism-caption {
  text-decoration: none;
  font-weight: normal;
}

a.ism-caption:hover {
  text-decoration: underline;
}

.ism-caption-0 {
  z-index: 3;
}

.ism-caption-1 {
  z-index: 4;
}

.ism-caption-2 {
  z-index: 5;
}

.ism-radios {
  margin: 0;
  padding: 0;
  list-style: none;
  color: #fff;
  font-size: 1px;
}

.ism-slider .ism-radios {
  position: absolute;
  -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;
  z-index: 6;
  bottom: 5px;
  left: 0;
  right: 0;
  width: auto;
  background-color: rgba(255, 255, 255, 0.0);
  padding: 0 7px;
  height: 0;
  overflow: visible;
}

.ism-slider .ism-radios.ism-radios-as-thumbnails {
  bottom: 5px;
}

.ism-radios li {
  position: relative;
  display: inline-block;
  margin: 0 3px;
  padding: 0;
}

.ism-radios input.ism-radio {
  display: none;
}

.ism-radios label {
  display: block;
  -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;
  margin: 0;
  text-decoration: none;
  cursor: pointer;
}

.ism-radios-as-thumbnails label {
  -webkit-background-size: 120% auto; -moz-background-size: 120% auto; -o-background-size: 120% auto; background-size: 120% auto;
  background-position: center center;
  background-repeat: no-repeat;
  border: 2px solid rgba(255, 255, 255, 0.6);
  opacity: 0.8;
}

.ism-radios-as-thumbnails label:hover {
  border: 2px solid #fff;
  opacity: 1;
}

.ism-radios-as-thumbnails li.active label {
  border: 2px solid rgba(255, 255, 255, 1.0);
  opacity: 1;
}

p.ism-badge {
  margin: 0 auto;
  text-align: right;
  font-size: 10px;
  padding-top: 1px;
  color: #ccc;
  font-family: sans-serif;
  font-weight: normal;
}

p.ism-badge a.ism-link {
  color: inherit;
  text-decoration: none;
  margin-right: 0.25em;
}

p.ism-badge a.ism-link:hover {
  color: #aaa;
  text-decoration: underline;
}

.ism-zoom-in {
  -webkit-animation: zoomin 0.81s linear 1;
  animation: zoomin 0.81s linear 1;
}

@-webkit-keyframes zoomin {
  0% { -webkit-transform: scale(1.0); transform: scale(1.0); }
  100% { -webkit-transform: scale(3.0); transform: scale(3.0); }
}
@keyframes zoomin {
  0% { -webkit-transform: scale(1.0); transform: scale(1.0); }
  100% { -webkit-transform: scale(3.0); transform: scale(3.0); }
}

@-webkit-keyframes fadein {
  0% { opacity: 0; }
 100% { opacity: 1; }
}
@keyframes fadein {
  0% { opacity: 0; }
 100% { opacity: 1; }
}

@-webkit-keyframes slidein {
  0% { -webkit-transform: translate(-1200px, 0); transform: translate(-1200px, 0); }
  100% { -webkit-transform: translate(0, 0); transform: translate(0, 0); }
}
@keyframes slidein {
  0% { -webkit-transform: translate(-1200px, 0); transform: translate(-1200px, 0); }
  100% { -webkit-transform: translate(0, 0); transform: translate(0, 0); }
}

@-webkit-keyframes popin {
  50% { -webkit-transform: scale(1.2); transform: scale(1.2); }
}
@keyframes popin {
  50% { -webkit-transform: scale(1.2); transform: scale(1.2); }
}

.ism-zoom-pan {
  -webkit-animation: zoompan 20.0s linear 1;
  animation: zoompan 20.0s linear 1;
}
@-webkit-keyframes zoompan {
  0% { -webkit-transform: translate(0, 0) scale(1.0); transform: translate(0, 0) scale(1.0); }
  50% { -webkit-transform: translate(-5%, -5%) scale(1.3); transform: translate(-5%, -5%) scale(1.3); }
  100% { -webkit-transform: translate(0, 0) scale(1.0); transform: translate(0, 0) scale(1.0); }
}
@keyframes zoompan {
  0% { -webkit-transform: translate(0, 0) scale(1.0); transform: translate(0, 0) scale(1.0); }
  50% { -webkit-transform: translate(-5%, -5%) scale(1.3); transform: translate(-5%, -5%) scale(1.3); }
  100% { -webkit-transform: translate(0, 0) scale(1.0); transform: translate(0, 0) scale(1.0); }
}

.ism-zoom-rotate {
  -webkit-animation: zoomrotate 20.0s linear 1;
  animation: zoomrotate 20.0s linear 1;
}
@-webkit-keyframes zoomrotate {
  0% { -webkit-transform: rotate(0) scale(1.0); transform: rotate(0) scale(1.0); }
  50% { -webkit-transform: rotate(-5deg) scale(1.3); transform: rotate(-5deg) scale(1.3); }
  100% { -webkit-transform: rotate(0) scale(1.0); transform: rotate(0) scale(1.0); }
}
@keyframes zoomrotate {
  0% { -webkit-transform: rotate(0) scale(1.0); transform: rotate(0) scale(1.0); }
  50% { -webkit-transform: rotate(-5deg) scale(1.3); transform: rotate(-5deg) scale(1.3); }
  100% { -webkit-transform: rotate(0) scale(1.0); transform: rotate(0) scale(1.0); }
}
/* SLIDER */

#my-slider {
    width: 900px;
    -webkit-border-radius: 5px; border-radius: 5px; 
}

#my-slider-ism-badge {
    width: 900px;
}

#my-slider:before {
    content: ''; display: block; padding-top: 60%;
}

#my-slider .ism-frame {
    position: absolute; top: 0; bottom: 0; left: 0; width: 100%;
}

#my-slider .ism-button {
    display: block;
    border-radius: 25px;
    width: 50px; height: 50px; background-size: 16px 16px; top: 50%; margin-top: -25px;
    color: #000; background-color: rgba(255, 255, 255, 0.3);
    visibility: hidden;
}

#my-slider .ism-button-prev {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABABAMAAABYR2ztAAAAIVBMVEUAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABt0UjBAAAAAXRSTlMAQObYZgAAAAFiS0dEAIgFHUgAAAAJcEhZcwAAAuUAAALlARv+XnsAAABUSURBVEjH7dYxCgAgEAPB8weX/39WFBtBbsFSY2sYyzXicDLq0wQDKQGQAKiJAZTEvC+IRgPBYAEyYOB1AAf4hAkTXxB5nySOGmaRw4pp5rhv34MOQwscJ7/MrxQAAAAASUVORK5CYII=);
    left: 10px;
}

#my-slider .ism-button-next {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABABAMAAABYR2ztAAAAIVBMVEUAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABt0UjBAAAAAXRSTlMAQObYZgAAAAFiS0dEAIgFHUgAAAAJcEhZcwAAAuUAAALlARv+XnsAAABYSURBVEjH7dYxDoAwDEPR5Ab1/S8LVEgsyL8SG3XWWK/dnKpnumA0/L4lAOSJE/DEtXfEBBxxBwYFBH8IEWJbggL4RIAAPwFWC+VDqXEtYrFyNWO5v58HB4q9HAkl7KTYAAAAAElFTkSuQmCC);
    right: 10px;
}

#my-slider .ism-pause-button {
    width: 50px; height: 50px; background-size: 16px 16px; top: 50%; margin-top: -25px; border-radius: 25px; margin-left: -25px;
    color: #000; background-color: rgba(255, 255, 255, 0.3); background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAbklEQVR42u3SsQ0AIAgAQXD/nXUCYoWF3Jc0kAsRml0W8/1oz632O9b0DwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAg/dEBGMMCeFN/0bIAAAAASUVORK5CYII=);
}

#my-slider .ism-pause-button.ism-play {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAs6AAALOgFkf1cNAAACU0lEQVR42uXbTYhNcRjH8Y+XIiERpbynlGIhZWVl4WVjkiRZoJCwUHYsFM0sKFayVFYWdhZWMxubUUOjkDQLL3kZTEZIiWNxz7+mG3XHPe495zy/+m1PPd/z/J//eZ7//zB5HcUigXUfr3A8KoBBZLkHsTAygAzfcQqzowJIfoaNkQEkX8GCyAAyjOBIZADJ/ZgXGUCGrziJmVEBJD/FusgAknurXiTbBZCy4UBkAMm3MSsygAyfcQzTowJIfoI1kQEkn8X8yAAyPMLeyACSb2JGZAAZxnA4MoAMv/JlsaroYKZWZOeZgrV5l3m62w1WNzKg2Q/RExlA8vVufECVCUCGdzgYGUCGnxjGsroWwVbiWI/nGucVc6NlQLMfYGtkAMlXMS0ygAwvsT8ygFQkh7C4rkWwlSK5IS+ShzAnWgY0ewjbImXARGUaJ9qjEQGM4wxWaNxzqM4gsgD151Om99GK4Iu8V9jSHHyEItj3p61vouq4BFKH2JO/rBDNUNI3nMPSVoKvWwbcxe787Ydqh9OVvc2TDb4ORfAylrQTTFWXwAfswUARTUKV9APn8yI3UMQDq5QB97ATb4tuE8uu1xqHIZuKDr4KRfAalpftjXQCwBi2lzUl/zeAPh28eF2mIjiMHfmaL7WKzoA3+ZCiMioSwA2srNpXWBEAPmFXVZuPdgFcUvEb5P8K4HEZ9/ROABjFhTpNXSYD4BZW12zq1BKAcexTU7Xy01St/yz9G4CROqZ7KwA+4qJAx2wTAdxRkSvuRU9mvujw1bQy6YTGTK4W+g0tXf8CyyZD9AAAAABJRU5ErkJggg==);
}

#my-slider .ism-button:hover {
    background-color: rgba(255, 255, 255, 0.6);
}

#my-slider .ism-pause-button:hover {
    background-color: rgba(255, 255, 255, 0.6);
}

#my-slider:hover .ism-button {
    visibility: visible;
}

#my-slider .ism-radios {
    display: block;
    height: 20px;
    text-align: center;
}

#my-slider .ism-radios label {
    width: 20px; height: 20px;
    border-radius: 3px;
    color: #000; background-color: rgba(255, 255, 255, 0.5);
}

#my-slider .ism-radios li.active label {
    background-color: rgba(255, 255, 255, 1.0);
}

#my-slider .ism-radios label:hover {
    background-color: rgba(255, 255, 255, 0.8);
}


/* SLIDES */

#my-slider .ism-slide-0 .ism-img-frame {
    height: 100%;
}

#my-slider .ism-slide-0 .ism-img {
    height: 100%;
    left: 50%; -webkit-transform: translateX(-50%); -moz-transform: translateX(-50%); -ms-transform: translateX(-50%); transform: translateX(-50%);
}

#my-slider .ism-slide-1 .ism-img-frame {
    width: 100%;
}

#my-slider .ism-slide-1 .ism-img {
    width: 100%;
    top: 50%; -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%);
}

#my-slider .ism-slide-2 .ism-img-frame {
    width: 100%;
}

#my-slider .ism-slide-2 .ism-img {
    width: 100%;
    top: 50%; -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%);
}


/* CAPTIONS */

#my-slider .ism-slide-0 .ism-caption-0.ism-caption-anim {
    -webkit-animation: fadein 0.5s; animation: fadein 0.5s;
}

#my-slider .ism-slide-0 .ism-caption-1.ism-caption-anim {
    -webkit-animation: fadein 0.5s; animation: fadein 0.5s;
}

#my-slider .ism-slide-0 .ism-caption-2.ism-caption-anim {
    -webkit-animation: fadein 0.5s; animation: fadein 0.5s;
}

#my-slider .ism-slide-1 .ism-caption-0.ism-caption-anim {
    -webkit-animation: fadein 0.5s; animation: fadein 0.5s;
}

#my-slider .ism-slide-1 .ism-caption-1.ism-caption-anim {
    -webkit-animation: fadein 0.5s; animation: fadein 0.5s;
}

#my-slider .ism-slide-1 .ism-caption-2.ism-caption-anim {
    -webkit-animation: fadein 0.5s; animation: fadein 0.5s;
}

#my-slider .ism-slide-2 .ism-caption-0.ism-caption-anim {
    -webkit-animation: fadein 0.5s; animation: fadein 0.5s;
}

#my-slider .ism-slide-2 .ism-caption-1.ism-caption-anim {
    -webkit-animation: fadein 0.5s; animation: fadein 0.5s;
}

#my-slider .ism-slide-2 .ism-caption-2.ism-caption-anim {
    -webkit-animation: fadein 0.5s; animation: fadein 0.5s;
}

#my-slider .ism-slide-0 .ism-caption-0 {
    font-size: 1.25em;
    font-family: sans-serif;
    position: absolute; top: 10%;
    left: 5%;
    border-radius: 4px;
    border: none;
    color: #fff; background-color: rgba(0, 0, 0, 0.70);
}

#my-slider .ism-slide-0 .ism-caption-1 {
    font-size: 1.25em;
    font-family: sans-serif;
    position: absolute; top: 60%;
    left: 40%;
    border-radius: 4px;
    border: none;
    color: #fff; background-color: rgba(0, 0, 0, 0.70);
}

#my-slider .ism-slide-0 .ism-caption-2 {
    font-size: 1.25em;
    font-family: sans-serif;
    position: absolute; top: 20%;
    left: 60%;
    border-radius: 4px;
    border: none;
    color: #fff; background-color: rgba(0, 0, 0, 0.70);
}

#my-slider .ism-slide-1 .ism-caption-0 {
    font-size: 1.25em;
    font-family: sans-serif;
    position: absolute; top: 10%;
    left: 5%;
    border-radius: 4px;
    border: none;
    color: #fff; background-color: rgba(0, 0, 0, 0.70);
}

#my-slider .ism-slide-1 .ism-caption-1 {
    font-size: 1.25em;
    font-family: sans-serif;
    position: absolute; top: 60%;
    left: 40%;
    border-radius: 4px;
    border: none;
    color: #fff; background-color: rgba(0, 0, 0, 0.70);
}

#my-slider .ism-slide-1 .ism-caption-2 {
    font-size: 1.25em;
    font-family: sans-serif;
    position: absolute; top: 20%;
    left: 60%;
    border-radius: 4px;
    border: none;
    color: #fff; background-color: rgba(0, 0, 0, 0.70);
}

#my-slider .ism-slide-2 .ism-caption-0 {
    font-size: 1.25em;
    font-family: sans-serif;
    position: absolute; top: 10%;
    left: 5%;
    border-radius: 4px;
    border: none;
    color: #fff; background-color: rgba(0, 0, 0, 0.70);
}

#my-slider .ism-slide-2 .ism-caption-1 {
    font-size: 1.25em;
    font-family: sans-serif;
    position: absolute; top: 60%;
    left: 40%;
    border-radius: 4px;
    border: none;
    color: #fff; background-color: rgba(0, 0, 0, 0.70);
}

#my-slider .ism-slide-2 .ism-caption-2 {
    font-size: 1.25em;
    font-family: sans-serif;
    position: absolute; top: 20%;
    left: 60%;
    border-radius: 4px;
    border: none;
    color: #fff; background-color: rgba(0, 0, 0, 0.70);
}

/*FOOTER*/
.ftleft{
	display: inline-block;
	text-align:left;
	padding-left: 10%;
}
.about{
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	font-weight: bold;
	color: #ffffff;
	padding-top: 20%;
}
.about1{
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-weight: lighter;
	color: #ffffff;
	padding-top: 1%;
	color: #808080;
}
.about2{
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-weight: lighter;
	padding-top: 1%;
	color: #808080;

}
.vk{
	padding-left: 5px;	
}
.inst{
	padding-left: 5px;
}
.ftcenter{
	display: inline-block;
	margin: 0 auto;
	text-align: center;
	padding-left: 10%;
}
.about3{
	text-align: left;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: lighter;
	color: #808080;	
}
h1{
	font-family: 'Open Sans', sans-serif;
	font-size: 39px;
	font-weight: 500;
	color: #808080;
	text-align: center;
	padding-bottom: 1%;
}	
ul{
	text-align:center;
}
li{
	display: inline-block;
	text-align: center;
	padding-left: 5%;
}
a{
	text-decoration: none;
	color: #ffffff;
}
html,body{
	height: 100%;
}	
header
{
	height: 80%;
	background-image: url(../image/header.png);
	background-size: 100% auto;
	background-position: top center;
	background-attachment: fixed;
	background-repeat: no-repeat;
}
footer
{
	height: 22%;
	background-image: url(../image/footerbg.png);
	background-position: top center;
	background-attachment: fixed;
	background-size: 100% auto;	
}
audio{
	display: block;
	margin: 0 auto;
}
@media screen and (max-width: 480px) {
	.mobile{
		display:block;
	}
	header{
		height: 25%;
	}
	footer{
		height: 15%;
	}
	h1{
		font-size: 21px;
	}
	.navbar1{
		display:none;
	}
	li{
		margin-left: 8px;
	}
	.textblock{
		font-size: 15px;
	}
	.logo{
		width: 65%;
		height: auto;
	}
	.bp1{
		width: 80%;
		height: auto;
	}
	.tabs{
		display: none;
	}
	.proc{
		width: 80%;
		height: auto;
	}
	.kyl{
		width: 80%;
		height: auto;
	}
	.ozy{
		width: 80%;
		height: auto;
	}
	.video{
		width: 80%;
		height: auto;
	}
	#my-slider {
    width: 90%;
    -webkit-border-radius: 5px; border-radius: 5px; 
}

	#my-slider-ism-badge {
    width: 90%;
	}
	.about{
		font-size: 14px;
	}
	.about1{
		font-size: 9px;
	}
	.about2{
		font-size: 9px;
	}
	.about3{
		font-size: 9px;
	}
	.vk{
		display:none;
	}
	.inst{
		display: none;
	}
}
@media screen and (min-width: 700px) and (max-width: 1024px){
	header{
		height: 35%;
	}
	.navbar1{
		font-size:18px;
		word-spacing:20px;
	}
	h1{
		font-size:35px;
	}
	#my-slider {
    width: 90%;
    -webkit-border-radius: 5px; border-radius: 5px; 
	}

	#my-slider-ism-badge {
    width: 90%;
	}

	li{
		margin-left: 16px;
	}
	.tabs img {
		width:80px;
		height:auto;
	}
	.tabs{
		font-size: 13px;
	}
	.about{
		font-size: 18px;
	}
	.about1{
		font-size: 15px;
	}
	.about2{
		font-size: 15px;
	}
	.about3{
		font-size: 15px;
	}
	.vk{
		display: none;
	}
	.inst{
		display: none;
	}
}
	